---
layout: layout.html
---

<h1>
  <span class="small break-after">Hallo, willkommen auf unserer</span> Familien-Seite :)
</h1>

<div class="about">
  <ul>
    <li><a href="/mara">Maras Seite</a></li>
    <li><a href="http://headjump.de">Dennis Seite</a> und <a href="http://dennistreder.de">Dennis andere Seite</a></li>
  </ul>
</div>