---
layout: layout.html
title: "Maras Seite"
---

<h1>Maras Seite</h1>

<p>
  Eine spannende Geschichte, bei der du selbst entscheiden kannst:
</p>

<ul>
  <li>
    <a href="/mara/diebe">Maja - Diebe auf dem Schulgelände</a>
  </li>
</ul>